body {
    background: url(../imagenes/blanco.jpg) !important;
    font-family: 'Archivo Narrow', sans-serif;
    font-size: 20px;
    background: white;
    color: black;
}

.titulo {
    color:black;
    font-size: 50px;
    text-align: center;
}

.descrip {
    text-align: center;
    color: white;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    background: black;
}

.frase  {
    font-size: 18px;
}

.formulario {
    text-align: center;
    border: 3px solid black;
    background: rgba(220,220,220,0.5);
    padding: 50px;    
}

h2 {
    text-align: center;
    text-decoration: underline;
}

.listado {
    width: 250px;
    background: rgba(220,220,220,0.3);
    border: 3px dashed black;
    padding: 50px;
}

a {
    text-decoration:none;
    padding: 5px 10px;
}

a:hover{
    text-decoration:none;
    background: #B2B4B2;
}

a:active {
    background:#83837C;
    color: black;
    text-decoration:none;
}

.medidas {
    border: 2px solid black;
    background:#DBDBDB;
    font-size: 17px;
    margin: 5px;
    padding: 5px;
}

div a {
    background: #737CAB;
    color: yellow;
    text-decoration:none;
    padding: 10px 20px;
    display: inline-block;
    box-shadow: 0px 5px 0px #4F5368;
}

div a:hover {
    text-decoration:none;
    background:#608785;
    box-shadow: 0px 2px 0px #4F6868;
}

div a:active {
    box-shadow:none;
    color:#A8AD7D;
}

p:hover {
    background:#E7E8D9;
}