body {
    background: url(../imagenes/blanco.jpg) !important;
    font-family: 'Archivo Narrow', sans-serif;
    font-size: 20px;
    background: white;
    color: black;
}

.titulo {
    color:black;
    font-size: 50px;
    text-align: center;
}

.descrip {
    text-align: center;
    color: white;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    background: black;
}

.frase  {
    font-size: 28px;
    text-align: center;
}

form {
    border: 2px solid black;
    background: rgba(220,220,220,0.5);
    padding: 15px;
    margin: 2px;
    width: 30%;
}

label {
    font-size: 23px;
    display: inline-block;
    width: 100%;
}

input, textarea {
    margin-bottom: 5px;
    padding: 5px;
    box-sizing: border-box;    
}

input[type="submit"]:hover {
    cursor:pointer;
    background: #B2B4B2;
}

h2 {
    text-align: center;
    text-decoration: underline;
}

.listado {
    width: 250px;
    background: rgba(220,220,220,0.3);
    border: 3px dashed black;
    padding: 50px;
    margin: 10px;
    padding: 15px 40px;
}

a {
    text-decoration:none;
    padding: 5px 10px;
}

a:hover{
    text-decoration:none;
    background: #B2B4B2;
}

a:active {
    background:#83837C;
    color: black;
    text-decoration:none;
}

div a {
    background: #737CAB;
    color: yellow;
    text-decoration:none;
    padding: 10px 20px;
    display: inline-block;
    box-shadow: 0px 5px 0px #4F5368;
}

div a:hover {
    text-decoration:none;
    background:#608785;
    box-shadow: 0px 2px 0px #4F6868;
}

div a:active {
    box-shadow:none;
    color:#A8AD7D;
}

.linkfinal {
    font-size: 25px;
    text-decoration: underline;
}

.rainbow {
    background: #83837C;
    border-radius: 20px;
    display: block;   
    border: 1px solid black;
    align-content: center;
    margin: 0px 40px;    
}

img {
    border-radius: 15px;
}

table {
    border: 1px solid black;    
    border-collapse: collapse;
    background:#DBDBDB;
    font-size: 17px;
    margin: 20px 10px;
    padding: 10px;
}

table td {
    border: 1px solid black;
    padding: 5px;
}

table td:hover {
    background: black;
    color: white;
}

table tr:hover {
    background: #B2B4B2;
}

