body { background:#000000;
    color:#fff;
}

.pitito {
    color:red;
}

.holi {
    color: green;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
}

.pitusa{
    color: blue;
}